@import "../variables.scss";
.has-text-weight-bold {
    font-weight: bold;
}
.review-comments {
    border-top: 1px solid rgba(128, 128, 128, 0.35);
    padding: 1rem 2rem;

    .comment {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-top: 1px solid rgba(128, 128, 128, 0.35);

        &:nth-child(even) {
            background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 250%);
        }
    }

    p {
        margin-bottom: 0;
    }
}
