@import "../variables.scss";
/* quicksand-300 - vietnamese */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/quicksand-v9-vietnamese-300.eot'); /* IE9 Compat Modes */
    src: local('Quicksand Light'), local('Quicksand-Light'),
    url('fonts/quicksand-v9-vietnamese-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/quicksand-v9-vietnamese-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/quicksand-v9-vietnamese-300.woff') format('woff'), /* Modern Browsers */
    url('fonts/quicksand-v9-vietnamese-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/quicksand-v9-vietnamese-300.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-500 - vietnamese */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/quicksand-v9-vietnamese-500.eot'); /* IE9 Compat Modes */
    src: local('Quicksand Medium'), local('Quicksand-Medium'),
    url('fonts/quicksand-v9-vietnamese-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/quicksand-v9-vietnamese-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/quicksand-v9-vietnamese-500.woff') format('woff'), /* Modern Browsers */
    url('fonts/quicksand-v9-vietnamese-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/quicksand-v9-vietnamese-500.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-regular - vietnamese */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/quicksand-v9-vietnamese-regular.eot'); /* IE9 Compat Modes */
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
    url('fonts/quicksand-v9-vietnamese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/quicksand-v9-vietnamese-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/quicksand-v9-vietnamese-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/quicksand-v9-vietnamese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/quicksand-v9-vietnamese-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-700 - vietnamese */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/quicksand-v9-vietnamese-700.eot'); /* IE9 Compat Modes */
    src: local('Quicksand Bold'), local('Quicksand-Bold'),
    url('fonts/quicksand-v9-vietnamese-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/quicksand-v9-vietnamese-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/quicksand-v9-vietnamese-700.woff') format('woff'), /* Modern Browsers */
    url('fonts/quicksand-v9-vietnamese-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/quicksand-v9-vietnamese-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}
body{
    font-family: 'Quicksand', sans-serif;
    background: #f5f7fa;
    background: linear-gradient(to top, #ece9e6, #ffffff);
    min-height: 100vh;
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
h1 {
    font-size: 1.6rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.4rem;
}
a {
    color: #00b7ff;
    text-decoration: none;
}
a:hover{
    color: #4a4a4a;
    text-decoration: none;
}
.main-container {
    min-height: calc(100vh - 136px);
}
.main-nav {
    background-color: #464d5c;
    background: linear-gradient(to right, #464d5c, #302b63, #24243e);
    .logo {
        padding: 0;
        display: flex;
        align-items: center;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
    .logo-img {
        width: 6rem;
    }
}

.bg-banner {
    position: relative;
    height: 240px;
    overflow: hidden;
    box-shadow: 0 4px 3px rgba(10, 10, 10, 0.1);

    .bg-banner-gradient {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 240px;
        opacity: 0.6;
        background: linear-gradient(to right, #464d5c, #302b63, #24243e);
    }
}

.has-text-warning {
    color: #ffdd57;
}

.section-search {
    position: relative;
    margin-top: -235px;
    padding-bottom: 7.5rem;
}

.bg-description h2 {
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2rem;
}

.main-content {
    padding-top: 1.5rem;
}
/** Styel for company */
.companies {
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
}

.company-item {
    display: block;
    &:nth-child(even) {
        background-image: linear-gradient(to top, #e6e9f06b 0%, #eef1f56e 100%);
        &:hover {
            background: #f1f2f2;
        }
    }

    &:hover {
        background: #f1f2f2;
        border-left: 2px solid #3273dc;
        cursor: pointer;
    }
}

.company-info__name {
    margin-left: 4px;
    font-weight: 600 !important;
    font-size: 1.25rem !important;
    a {
        color: #00b7ff;
        text-decoration: none;
        &:hover {
            color: #363636;
        }
    }
}

.company-info {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    flex-direction: row;
}

.company-info__logo {
    margin-right: 0.5rem;
    display: flex;
    min-width: 64px;
    align-items: center;
    width: 64px;
    height: 64px;
}

.company-info__rating span.icon{
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.main-footer {
    color: white;
    background-color: #464d5c;
    background: linear-gradient(to right, #464d5c, #302b63, #24243e);
    flex-basis: 40px;
    padding: 0.5rem 0;
    a {
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
}

/*** Style pagination */
.pagination-list {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    .pagination-summary {
        padding-right: 15px;
    }
    .pagination {
        margin: 0;
    }
}
//.pagination-list .pagination-summary {
//    padding-right: 15px;
//}
.pagination-list .pagination {
    margin: 0;
}
.pagination {
    .page-link {
        min-width: 2.25em;
        text-align: center;
        margin: .25rem;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 4px;
        border-color: #dbdbdb;
        color: #363636;
        &:focus {
            border-color: #3273dc;
            outline: 0;
        }
    }
}

/** Style for sidebar */
.summary-reviews h3{
    font-size: 1.1rem;
    font-weight: normal;
}
/* Page detail companies */
.text-500 {
    font-weight: 500;
}
.breadcrumb {
    background: transparent;
    padding-left: 0;
    margin-bottom: 0;
    li:first-child a {
        padding-left: 0;
    }
    li+li::before {
        color: #b5b5b5;
        content: "\0002f";
    }
    li.active{
        padding-left: 15px;
        > span {
            padding-left: 15px;
        }
    }
    a {
        color: #3273dc;
        &:hover {
            text-decoration: underline;
            transition: 0.2s all;
        }
        > i.fa-home {
            margin-right: 0.5em;
        }
    }
}

.block-company {
    position: relative;
    color: #4a4a4a;
    .company-info {
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    }
}

.btn-review {
    position: absolute;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    opacity: 0.85;
    border: none;
    top: 1.8rem;
    right: 1.5rem;
    transition: 0.2s all;
    border-radius: 5rem;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.2rem;
}
.list-review {
    margin-top: 0.7em;
}
.review {
    margin-bottom: 1rem;
}
.card {
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    border: none;
}
.card-header {
    background-color: transparent;
    align-items: stretch;
    box-shadow: 0 1px 2px rgba(10,10,10,.1);
    display: flex;
    padding: 0.75rem;
}
.card-header-title {
    margin: 0;
    flex-grow: 1;
    color: #363636;
    font-weight: 700;
}
.card-content {
    padding: 0.75rem;
}
.review__time {
    padding-right: 0.75rem;
}
.card-footer {
    align-items: stretch;
    display: flex;
    padding: 0;
    background-color: transparent;
    border-top: 1px solid #dbdbdb;
}
.card-footer-item {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding: .25rem;
}
.card-footer-item:not(:last-child) {
    border-right: 1px solid #dbdbdb;
}
.card-footer-item.clickable:hover {
    cursor: pointer;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.has-text-info {
    color: #209cee!important;
}
.has-text-success {
    color: #23d160!important;
}
.has-text-danger {
    color: #ff3860!important;
}
.list-review .review .icon-reply {
    position: relative;
    left: -5px;
}
.list-review .review .icon-like,
.list-review .review .icon-dislike,
.list-review .review .icon-ban {
    position: relative;
    left: 5px;
    top: -1px;
}
.loading {
    opacity: 0.8;
    pointer-events: none;
    position: relative;
    .loading-block {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 10%;
        margin-top: -50px;
        z-index: 10
    }
}
/** Auto complete */
.form-search {
    position: relative;
}

.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
    /* core styles should not be changed */
    position: absolute;
    //display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    width: 100%;
}
a.link-company-detail {
   color: #4a4a4a;
}
.autocomplete-suggestion {
    display: flex;
    align-items: center;
    padding: 0.4rem;
    position: relative;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #333;
    cursor: pointer;
    &:hover{
        background: #f0f0f0;
    }
    strong {
        font-weight: 700;
        color: #209cee;
    }
    .company-logo {
        margin: 0 0.25rem 0 0;
        display: flex;
        align-items: center;
        border: 1px solid #c2c2c2;
    }
    img {
        width: 100%;
        max-width: 100%;
    }
}

.image.is-32x32 {
    height: 32px;
    width: 32px;
}
#write_comment {
    .modal-header {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

/* Generated by http://css.spritegen.com CSS Sprite Generator */

.flag.flag-ad, .flag.flag-ae, .flag.flag-af, .flag.flag-ag, .flag.flag-ai,
.flag.flag-al, .flag.flag-am, .flag.flag-an, .flag.flag-ao, .flag.flag-ar,
.flag.flag-as, .flag.flag-at, .flag.flag-au, .flag.flag-aw, .flag.flag-ax,
.flag.flag-az, .flag.flag-ba, .flag.flag-bb, .flag.flag-bd, .flag.flag-be,
.flag.flag-bf, .flag.flag-bg, .flag.flag-bh, .flag.flag-bi, .flag.flag-bj,
.flag.flag-bm, .flag.flag-bn, .flag.flag-bo, .flag.flag-br, .flag.flag-bs,
.flag.flag-bt, .flag.flag-bv, .flag.flag-bw, .flag.flag-by, .flag.flag-bz,
.flag.flag-ca, .flag.flag-catalonia, .flag.flag-cc, .flag.flag-cd, .flag.flag-cf,
.flag.flag-cg, .flag.flag-ch, .flag.flag-ci, .flag.flag-ck, .flag.flag-cl,
.flag.flag-cm, .flag.flag-cn, .flag.flag-co, .flag.flag-cr, .flag.flag-cs,
.flag.flag-cu, .flag.flag-cv, .flag.flag-cx, .flag.flag-cy, .flag.flag-cz,
.flag.flag-de, .flag.flag-dj, .flag.flag-dk, .flag.flag-dm, .flag.flag-do,
.flag.flag-dz, .flag.flag-ec, .flag.flag-ee, .flag.flag-eg, .flag.flag-eh,
.flag.flag-england, .flag.flag-er, .flag.flag-es, .flag.flag-et, .flag.flag-eu,
.flag.flag-fi, .flag.flag-fj, .flag.flag-fk, .flag.flag-fm, .flag.flag-fo,
.flag.flag-fr, .flag.flag-ga, .flag.flag-galicia, .flag.flag-gb, .flag.flag-gd,
.flag.flag-ge, .flag.flag-gf, .flag.flag-gg, .flag.flag-gh, .flag.flag-gi,
.flag.flag-gl, .flag.flag-gm, .flag.flag-gn, .flag.flag-gp, .flag.flag-gq,
.flag.flag-gr, .flag.flag-gs, .flag.flag-gt, .flag.flag-gu, .flag.flag-gw,
.flag.flag-gy, .flag.flag-hk, .flag.flag-hm, .flag.flag-hn, .flag.flag-hr,
.flag.flag-ht, .flag.flag-hu, .flag.flag-id, .flag.flag-ie, .flag.flag-il,
.flag.flag-im, .flag.flag-in, .flag.flag-io, .flag.flag-iq, .flag.flag-ir,
.flag.flag-is, .flag.flag-it, .flag.flag-je, .flag.flag-jm, .flag.flag-jo,
.flag.flag-jp, .flag.flag-ke, .flag.flag-kg, .flag.flag-kh, .flag.flag-ki,
.flag.flag-km, .flag.flag-kn, .flag.flag-kp, .flag.flag-kr, .flag.flag-kw,
.flag.flag-ky, .flag.flag-kz, .flag.flag-la, .flag.flag-lb, .flag.flag-lc,
.flag.flag-li, .flag.flag-lk, .flag.flag-lr, .flag.flag-ls, .flag.flag-lt,
.flag.flag-lu, .flag.flag-lv, .flag.flag-ly, .flag.flag-ma, .flag.flag-mc,
.flag.flag-md, .flag.flag-me, .flag.flag-mf, .flag.flag-mg, .flag.flag-mh,
.flag.flag-mk, .flag.flag-ml, .flag.flag-mm, .flag.flag-mn, .flag.flag-mo,
.flag.flag-mp, .flag.flag-mq, .flag.flag-mr, .flag.flag-ms, .flag.flag-mt,
.flag.flag-mu, .flag.flag-mv, .flag.flag-mw, .flag.flag-mx, .flag.flag-my,
.flag.flag-mz, .flag.flag-na, .flag.flag-nc, .flag.flag-nc2, .flag.flag-ne,
.flag.flag-nf, .flag.flag-ng, .flag.flag-ni, .flag.flag-nl, .flag.flag-no,
.flag.flag-np, .flag.flag-nr, .flag.flag-nu, .flag.flag-nz, .flag.flag-om,
.flag.flag-pa, .flag.flag-pe, .flag.flag-pf, .flag.flag-pg, .flag.flag-ph,
.flag.flag-pk, .flag.flag-pl, .flag.flag-pm, .flag.flag-pn, .flag.flag-pr,
.flag.flag-ps, .flag.flag-pt, .flag.flag-pw, .flag.flag-py, .flag.flag-qa,
.flag.flag-re, .flag.flag-ro, .flag.flag-rs, .flag.flag-ru, .flag.flag-rw,
.flag.flag-sa, .flag.flag-sb, .flag.flag-sc, .flag.flag-scotland, .flag.flag-sd,
.flag.flag-se, .flag.flag-sg, .flag.flag-sh, .flag.flag-si, .flag.flag-sj,
.flag.flag-sk, .flag.flag-sl, .flag.flag-sm, .flag.flag-sn, .flag.flag-so,
.flag.flag-sr, .flag.flag-st, .flag.flag-sv, .flag.flag-sy, .flag.flag-sz,
.flag.flag-tc, .flag.flag-td, .flag.flag-tf, .flag.flag-tg, .flag.flag-th,
.flag.flag-tj, .flag.flag-tk, .flag.flag-tl, .flag.flag-tm, .flag.flag-tn,
.flag.flag-to, .flag.flag-tr, .flag.flag-tt, .flag.flag-tv, .flag.flag-tw,
.flag.flag-tz, .flag.flag-ua, .flag.flag-ug, .flag.flag-um, .flag.flag-us,
.flag.flag-uy, .flag.flag-uz, .flag.flag-va, .flag.flag-vc, .flag.flag-ve,
.flag.flag-vg, .flag.flag-vi, .flag.flag-vn, .flag.flag-vu, .flag.flag-wales,
.flag.flag-wf, .flag.flag-ws, .flag.flag-ye, .flag.flag-yt, .flag.flag-za,
.flag.flag-zm, .flag.flag-zw
{ display: inline-block; background: url('../../images/list-language.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.flag.flag-ad { background-position: -2px -0px; width: 22px; height: 14px; }
.flag.flag-ae { background-position: -26px -0px; width: 22px; height: 14px; }
.flag.flag-af { background-position: -50px -0px; width: 22px; height: 14px; }
.flag.flag-ag { background-position: -74px -0px; width: 22px; height: 14px; }
.flag.flag-ai { background-position: -98px -0px; width: 22px; height: 14px; }
.flag.flag-al { background-position: -122px -0px; width: 22px; height: 14px; }
.flag.flag-am { background-position: -146px -0px; width: 22px; height: 14px; }
.flag.flag-an { background-position: -170px -0px; width: 22px; height: 14px; }
.flag.flag-ao { background-position: -194px -0px; width: 22px; height: 14px; }
.flag.flag-ar { background-position: -218px -0px; width: 22px; height: 14px; }
.flag.flag-as { background-position: -242px -0px; width: 22px; height: 14px; }
.flag.flag-at { background-position: -266px -0px; width: 22px; height: 14px; }
.flag.flag-au { background-position: -290px -0px; width: 22px; height: 14px; }
.flag.flag-aw { background-position: -314px -0px; width: 22px; height: 14px; }
.flag.flag-ax { background-position: -338px -0px; width: 22px; height: 14px; }
.flag.flag-az { background-position: -362px -0px; width: 22px; height: 14px; }
.flag.flag-ba { background-position: -2px -16px; width: 22px; height: 14px; }
.flag.flag-bb { background-position: -26px -16px; width: 22px; height: 14px; }
.flag.flag-bd { background-position: -50px -16px; width: 22px; height: 14px; }
.flag.flag-be { background-position: -74px -16px; width: 22px; height: 14px; }
.flag.flag-bf { background-position: -98px -16px; width: 22px; height: 14px; }
.flag.flag-bg { background-position: -122px -16px; width: 22px; height: 14px; }
.flag.flag-bh { background-position: -146px -16px; width: 22px; height: 14px; }
.flag.flag-bi { background-position: -170px -16px; width: 22px; height: 14px; }
.flag.flag-bj { background-position: -194px -16px; width: 22px; height: 14px; }
.flag.flag-bm { background-position: -218px -16px; width: 22px; height: 14px; }
.flag.flag-bn { background-position: -242px -16px; width: 22px; height: 14px; }
.flag.flag-bo { background-position: -266px -16px; width: 22px; height: 14px; }
.flag.flag-br { background-position: -290px -16px; width: 22px; height: 14px; }
.flag.flag-bs { background-position: -314px -16px; width: 22px; height: 14px; }
.flag.flag-bt { background-position: -338px -16px; width: 22px; height: 14px; }
.flag.flag-bv { background-position: -362px -16px; width: 22px; height: 14px; }
.flag.flag-bw { background-position: -2px -32px; width: 22px; height: 14px; }
.flag.flag-by { background-position: -26px -32px; width: 22px; height: 14px; }
.flag.flag-bz { background-position: -50px -32px; width: 22px; height: 14px; }
.flag.flag-ca { background-position: -74px -32px; width: 22px; height: 14px; }
.flag.flag-catalonia { background-position: -98px -32px; width: 22px; height: 14px; }
.flag.flag-cc { background-position: -122px -32px; width: 22px; height: 14px; }
.flag.flag-cd { background-position: -146px -32px; width: 22px; height: 14px; }
.flag.flag-cf { background-position: -170px -32px; width: 22px; height: 14px; }
.flag.flag-cg { background-position: -194px -32px; width: 22px; height: 14px; }
.flag.flag-ch { background-position: -218px -32px; width: 22px; height: 14px; }
.flag.flag-ci { background-position: -242px -32px; width: 22px; height: 14px; }
.flag.flag-ck { background-position: -266px -32px; width: 22px; height: 14px; }
.flag.flag-cl { background-position: -290px -32px; width: 22px; height: 14px; }
.flag.flag-cm { background-position: -314px -32px; width: 22px; height: 14px; }
.flag.flag-cn { background-position: -338px -32px; width: 22px; height: 14px; }
.flag.flag-co { background-position: -362px -32px; width: 22px; height: 14px; }
.flag.flag-cr { background-position: -2px -48px; width: 22px; height: 14px; }
.flag.flag-cs { background-position: -26px -48px; width: 22px; height: 14px; }
.flag.flag-cu { background-position: -50px -48px; width: 22px; height: 14px; }
.flag.flag-cv { background-position: -74px -48px; width: 22px; height: 14px; }
.flag.flag-cx { background-position: -98px -48px; width: 22px; height: 14px; }
.flag.flag-cy { background-position: -122px -48px; width: 22px; height: 14px; }
.flag.flag-cz { background-position: -146px -48px; width: 22px; height: 14px; }
.flag.flag-de { background-position: -170px -48px; width: 22px; height: 14px; }
.flag.flag-dj { background-position: -194px -48px; width: 22px; height: 14px; }
.flag.flag-dk { background-position: -218px -48px; width: 22px; height: 14px; }
.flag.flag-dm { background-position: -242px -48px; width: 22px; height: 14px; }
.flag.flag-do { background-position: -266px -48px; width: 22px; height: 14px; }
.flag.flag-dz { background-position: -290px -48px; width: 22px; height: 14px; }
.flag.flag-ec { background-position: -314px -48px; width: 22px; height: 14px; }
.flag.flag-ee { background-position: -338px -48px; width: 22px; height: 14px; }
.flag.flag-eg { background-position: -362px -48px; width: 22px; height: 14px; }
.flag.flag-eh { background-position: -2px -64px; width: 22px; height: 14px; }
.flag.flag-england { background-position: -26px -64px; width: 22px; height: 14px; }
.flag.flag-er { background-position: -50px -64px; width: 22px; height: 14px; }
.flag.flag-es { background-position: -74px -64px; width: 22px; height: 14px; }
.flag.flag-et { background-position: -98px -64px; width: 22px; height: 14px; }
.flag.flag-eu { background-position: -122px -64px; width: 22px; height: 14px; }
.flag.flag-fi { background-position: -146px -64px; width: 22px; height: 14px; }
.flag.flag-fj { background-position: -170px -64px; width: 22px; height: 14px; }
.flag.flag-fk { background-position: -194px -64px; width: 22px; height: 14px; }
.flag.flag-fm { background-position: -218px -64px; width: 22px; height: 14px; }
.flag.flag-fo { background-position: -242px -64px; width: 22px; height: 14px; }
.flag.flag-fr { background-position: -266px -64px; width: 22px; height: 14px; }
.flag.flag-ga { background-position: -290px -64px; width: 22px; height: 14px; }
.flag.flag-galicia { background-position: -314px -64px; width: 22px; height: 14px; }
.flag.flag-gb { background-position: -338px -64px; width: 22px; height: 14px; }
.flag.flag-gd { background-position: -362px -64px; width: 22px; height: 14px; }
.flag.flag-ge { background-position: -2px -80px; width: 22px; height: 14px; }
.flag.flag-gf { background-position: -26px -80px; width: 22px; height: 14px; }
.flag.flag-gg { background-position: -50px -80px; width: 22px; height: 14px; }
.flag.flag-gh { background-position: -74px -80px; width: 22px; height: 14px; }
.flag.flag-gi { background-position: -98px -80px; width: 22px; height: 14px; }
.flag.flag-gl { background-position: -122px -80px; width: 22px; height: 14px; }
.flag.flag-gm { background-position: -146px -80px; width: 22px; height: 14px; }
.flag.flag-gn { background-position: -170px -80px; width: 22px; height: 14px; }
.flag.flag-gp { background-position: -194px -80px; width: 22px; height: 14px; }
.flag.flag-gq { background-position: -218px -80px; width: 22px; height: 14px; }
.flag.flag-gr { background-position: -242px -80px; width: 22px; height: 14px; }
.flag.flag-gs { background-position: -266px -80px; width: 22px; height: 14px; }
.flag.flag-gt { background-position: -290px -80px; width: 22px; height: 14px; }
.flag.flag-gu { background-position: -314px -80px; width: 22px; height: 14px; }
.flag.flag-gw { background-position: -338px -80px; width: 22px; height: 14px; }
.flag.flag-gy { background-position: -362px -80px; width: 22px; height: 14px; }
.flag.flag-hk { background-position: -2px -96px; width: 22px; height: 14px; }
.flag.flag-hm { background-position: -26px -96px; width: 22px; height: 14px; }
.flag.flag-hn { background-position: -50px -96px; width: 22px; height: 14px; }
.flag.flag-hr { background-position: -74px -96px; width: 22px; height: 14px; }
.flag.flag-ht { background-position: -98px -96px; width: 22px; height: 14px; }
.flag.flag-hu { background-position: -122px -96px; width: 22px; height: 14px; }
.flag.flag-id { background-position: -146px -96px; width: 22px; height: 14px; }
.flag.flag-ie { background-position: -170px -96px; width: 22px; height: 14px; }
.flag.flag-il { background-position: -194px -96px; width: 22px; height: 14px; }
.flag.flag-im { background-position: -218px -96px; width: 22px; height: 14px; }
.flag.flag-in { background-position: -242px -96px; width: 22px; height: 14px; }
.flag.flag-io { background-position: -266px -96px; width: 22px; height: 14px; }
.flag.flag-iq { background-position: -290px -96px; width: 22px; height: 14px; }
.flag.flag-ir { background-position: -314px -96px; width: 22px; height: 14px; }
.flag.flag-is { background-position: -338px -96px; width: 22px; height: 14px; }
.flag.flag-it { background-position: -362px -96px; width: 22px; height: 14px; }
.flag.flag-je { background-position: -2px -112px; width: 22px; height: 14px; }
.flag.flag-jm { background-position: -26px -112px; width: 22px; height: 14px; }
.flag.flag-jo { background-position: -50px -112px; width: 22px; height: 14px; }
.flag.flag-jp { background-position: -74px -112px; width: 22px; height: 14px; }
.flag.flag-ke { background-position: -98px -112px; width: 22px; height: 14px; }
.flag.flag-kg { background-position: -122px -112px; width: 22px; height: 14px; }
.flag.flag-kh { background-position: -146px -112px; width: 22px; height: 14px; }
.flag.flag-ki { background-position: -170px -112px; width: 22px; height: 14px; }
.flag.flag-km { background-position: -194px -112px; width: 22px; height: 14px; }
.flag.flag-kn { background-position: -218px -112px; width: 22px; height: 14px; }
.flag.flag-kp { background-position: -242px -112px; width: 22px; height: 14px; }
.flag.flag-kr { background-position: -266px -112px; width: 22px; height: 14px; }
.flag.flag-kw { background-position: -290px -112px; width: 22px; height: 14px; }
.flag.flag-ky { background-position: -314px -112px; width: 22px; height: 14px; }
.flag.flag-kz { background-position: -338px -112px; width: 22px; height: 14px; }
.flag.flag-la { background-position: -362px -112px; width: 22px; height: 14px; }
.flag.flag-lb { background-position: -2px -128px; width: 22px; height: 14px; }
.flag.flag-lc { background-position: -26px -128px; width: 22px; height: 14px; }
.flag.flag-li { background-position: -50px -128px; width: 22px; height: 14px; }
.flag.flag-lk { background-position: -74px -128px; width: 22px; height: 14px; }
.flag.flag-lr { background-position: -98px -128px; width: 22px; height: 14px; }
.flag.flag-ls { background-position: -122px -128px; width: 22px; height: 14px; }
.flag.flag-lt { background-position: -146px -128px; width: 22px; height: 14px; }
.flag.flag-lu { background-position: -170px -128px; width: 22px; height: 14px; }
.flag.flag-lv { background-position: -194px -128px; width: 22px; height: 14px; }
.flag.flag-ly { background-position: -218px -128px; width: 22px; height: 14px; }
.flag.flag-ma { background-position: -242px -128px; width: 22px; height: 14px; }
.flag.flag-mc { background-position: -266px -128px; width: 22px; height: 14px; }
.flag.flag-md { background-position: -290px -128px; width: 22px; height: 14px; }
.flag.flag-me { background-position: -314px -128px; width: 22px; height: 14px; }
.flag.flag-mf { background-position: -338px -128px; width: 22px; height: 14px; }
.flag.flag-mg { background-position: -362px -128px; width: 22px; height: 14px; }
.flag.flag-mh { background-position: -2px -144px; width: 22px; height: 14px; }
.flag.flag-mk { background-position: -26px -144px; width: 22px; height: 14px; }
.flag.flag-ml { background-position: -50px -144px; width: 22px; height: 14px; }
.flag.flag-mm { background-position: -74px -144px; width: 22px; height: 14px; }
.flag.flag-mn { background-position: -98px -144px; width: 22px; height: 14px; }
.flag.flag-mo { background-position: -122px -144px; width: 22px; height: 14px; }
.flag.flag-mp { background-position: -146px -144px; width: 22px; height: 14px; }
.flag.flag-mq { background-position: -170px -144px; width: 22px; height: 14px; }
.flag.flag-mr { background-position: -194px -144px; width: 22px; height: 14px; }
.flag.flag-ms { background-position: -218px -144px; width: 22px; height: 14px; }
.flag.flag-mt { background-position: -242px -144px; width: 22px; height: 14px; }
.flag.flag-mu { background-position: -266px -144px; width: 22px; height: 14px; }
.flag.flag-mv { background-position: -290px -144px; width: 22px; height: 14px; }
.flag.flag-mw { background-position: -314px -144px; width: 22px; height: 14px; }
.flag.flag-mx { background-position: -338px -144px; width: 22px; height: 14px; }
.flag.flag-my { background-position: -362px -144px; width: 22px; height: 14px; }
.flag.flag-mz { background-position: -2px -160px; width: 22px; height: 14px; }
.flag.flag-na { background-position: -26px -160px; width: 22px; height: 14px; }
.flag.flag-nc { background-position: -50px -160px; width: 22px; height: 14px; }
.flag.flag-nc2 { background-position: -74px -160px; width: 22px; height: 14px; }
.flag.flag-ne { background-position: -98px -160px; width: 22px; height: 14px; }
.flag.flag-nf { background-position: -122px -160px; width: 22px; height: 14px; }
.flag.flag-ng { background-position: -146px -160px; width: 22px; height: 14px; }
.flag.flag-ni { background-position: -170px -160px; width: 22px; height: 14px; }
.flag.flag-nl { background-position: -194px -160px; width: 22px; height: 14px; }
.flag.flag-no { background-position: -218px -160px; width: 22px; height: 14px; }
.flag.flag-np { background-position: -242px -160px; width: 22px; height: 14px; }
.flag.flag-nr { background-position: -266px -160px; width: 22px; height: 14px; }
.flag.flag-nu { background-position: -290px -160px; width: 22px; height: 14px; }
.flag.flag-nz { background-position: -314px -160px; width: 22px; height: 14px; }
.flag.flag-om { background-position: -338px -160px; width: 22px; height: 14px; }
.flag.flag-pa { background-position: -362px -160px; width: 22px; height: 14px; }
.flag.flag-pe { background-position: -2px -176px; width: 22px; height: 14px; }
.flag.flag-pf { background-position: -26px -176px; width: 22px; height: 14px; }
.flag.flag-pg { background-position: -50px -176px; width: 22px; height: 14px; }
.flag.flag-ph { background-position: -74px -176px; width: 22px; height: 14px; }
.flag.flag-pk { background-position: -98px -176px; width: 22px; height: 14px; }
.flag.flag-pl { background-position: -122px -176px; width: 22px; height: 14px; }
.flag.flag-pm { background-position: -146px -176px; width: 22px; height: 14px; }
.flag.flag-pn { background-position: -170px -176px; width: 22px; height: 14px; }
.flag.flag-pr { background-position: -194px -176px; width: 22px; height: 14px; }
.flag.flag-ps { background-position: -218px -176px; width: 22px; height: 14px; }
.flag.flag-pt { background-position: -242px -176px; width: 22px; height: 14px; }
.flag.flag-pw { background-position: -266px -176px; width: 22px; height: 14px; }
.flag.flag-py { background-position: -290px -176px; width: 22px; height: 14px; }
.flag.flag-qa { background-position: -314px -176px; width: 22px; height: 14px; }
.flag.flag-re { background-position: -338px -176px; width: 22px; height: 14px; }
.flag.flag-ro { background-position: -362px -176px; width: 22px; height: 14px; }
.flag.flag-rs { background-position: -2px -192px; width: 22px; height: 14px; }
.flag.flag-ru { background-position: -26px -192px; width: 22px; height: 14px; }
.flag.flag-rw { background-position: -50px -192px; width: 22px; height: 14px; }
.flag.flag-sa { background-position: -74px -192px; width: 22px; height: 14px; }
.flag.flag-sb { background-position: -98px -192px; width: 22px; height: 14px; }
.flag.flag-sc { background-position: -122px -192px; width: 22px; height: 14px; }
.flag.flag-scotland { background-position: -146px -192px; width: 22px; height: 14px; }
.flag.flag-sd { background-position: -170px -192px; width: 22px; height: 14px; }
.flag.flag-se { background-position: -194px -192px; width: 22px; height: 14px; }
.flag.flag-sg { background-position: -218px -192px; width: 22px; height: 14px; }
.flag.flag-sh { background-position: -242px -192px; width: 22px; height: 14px; }
.flag.flag-si { background-position: -266px -192px; width: 22px; height: 14px; }
.flag.flag-sj { background-position: -290px -192px; width: 22px; height: 14px; }
.flag.flag-sk { background-position: -314px -192px; width: 22px; height: 14px; }
.flag.flag-sl { background-position: -338px -192px; width: 22px; height: 14px; }
.flag.flag-sm { background-position: -362px -192px; width: 22px; height: 14px; }
.flag.flag-sn { background-position: -2px -208px; width: 22px; height: 14px; }
.flag.flag-so { background-position: -26px -208px; width: 22px; height: 14px; }
.flag.flag-sr { background-position: -50px -208px; width: 22px; height: 14px; }
.flag.flag-st { background-position: -74px -208px; width: 22px; height: 14px; }
.flag.flag-sv { background-position: -98px -208px; width: 22px; height: 14px; }
.flag.flag-sy { background-position: -122px -208px; width: 22px; height: 14px; }
.flag.flag-sz { background-position: -146px -208px; width: 22px; height: 14px; }
.flag.flag-tc { background-position: -170px -208px; width: 22px; height: 14px; }
.flag.flag-td { background-position: -194px -208px; width: 22px; height: 14px; }
.flag.flag-tf { background-position: -218px -208px; width: 22px; height: 14px; }
.flag.flag-tg { background-position: -242px -208px; width: 22px; height: 14px; }
.flag.flag-th { background-position: -266px -208px; width: 22px; height: 14px; }
.flag.flag-tj { background-position: -290px -208px; width: 22px; height: 14px; }
.flag.flag-tk { background-position: -314px -208px; width: 22px; height: 14px; }
.flag.flag-tl { background-position: -338px -208px; width: 22px; height: 14px; }
.flag.flag-tm { background-position: -362px -208px; width: 22px; height: 14px; }
.flag.flag-tn { background-position: -2px -224px; width: 22px; height: 14px; }
.flag.flag-to { background-position: -26px -224px; width: 22px; height: 14px; }
.flag.flag-tr { background-position: -50px -224px; width: 22px; height: 14px; }
.flag.flag-tt { background-position: -74px -224px; width: 22px; height: 14px; }
.flag.flag-tv { background-position: -98px -224px; width: 22px; height: 14px; }
.flag.flag-tw { background-position: -122px -224px; width: 22px; height: 14px; }
.flag.flag-tz { background-position: -146px -224px; width: 22px; height: 14px; }
.flag.flag-ua { background-position: -170px -224px; width: 22px; height: 14px; }
.flag.flag-ug { background-position: -194px -224px; width: 22px; height: 14px; }
.flag.flag-um { background-position: -218px -224px; width: 22px; height: 14px; }
.flag.flag-us { background-position: -242px -224px; width: 22px; height: 14px; }
.flag.flag-uy { background-position: -266px -224px; width: 22px; height: 14px; }
.flag.flag-uz { background-position: -290px -224px; width: 22px; height: 14px; }
.flag.flag-va { background-position: -314px -224px; width: 22px; height: 14px; }
.flag.flag-vc { background-position: -338px -224px; width: 22px; height: 14px; }
.flag.flag-ve { background-position: -362px -224px; width: 22px; height: 14px; }
.flag.flag-vg { background-position: -2px -240px; width: 22px; height: 14px; }
.flag.flag-vi { background-position: -26px -240px; width: 22px; height: 14px; }
.flag.flag-vn { background-position: -50px -240px; width: 22px; height: 14px; }
.flag.flag-vu { background-position: -74px -240px; width: 22px; height: 14px; }
.flag.flag-wales { background-position: -98px -240px; width: 22px; height: 14px; }
.flag.flag-wf { background-position: -122px -240px; width: 22px; height: 14px; }
.flag.flag-ws { background-position: -146px -240px; width: 22px; height: 14px; }
.flag.flag-ye { background-position: -170px -240px; width: 22px; height: 14px; }
.flag.flag-yt { background-position: -194px -240px; width: 22px; height: 14px; }
.flag.flag-za { background-position: -218px -240px; width: 22px; height: 14px; }
.flag.flag-zm { background-position: -242px -240px; width: 22px; height: 14px; }
.flag.flag-zw { background-position: -266px -240px; width: 22px; height: 14px; }
.list-languages {
    #dropdown_select_language {
        color: #fff;
        font-weight: bold;
        i.fa-language {
            font-size: 1.4em;
            position: relative;
            top: 3px;
        }
    }
    .dropdown-menu {
        padding: 0;
    }
    .dropdown-item {
        padding: 0.25rem 0.5rem;
    }
}
