<VirtualHost *:80>
    ServerAdmin admin@training-laravel
    ServerName training-laravel.dev.nguyenhiep
    ServerAlias www.training-laravel.dev.nguyenhiep
    DocumentRoot /home/tuyen/var/www/training-laravel/public

    <Directory /home/tuyen/var/www/training-laravel/public/>
            Options Indexes FollowSymLinks MultiViews
            AllowOverride All
            Order allow,deny
            allow from all
            Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>